In [19]:
import pandas as pd
import seaborn as sns
#pip install openpyxl

#### Pregunta N ° 1 - Objetivos:

Elaborar una tabla con la facturación de cada producto considerando la zona.

In [20]:
# Cargamos como un DataFrame (DF) los datos a analizar

df = pd.read_excel("FACT_TOTAL.XLSX", sheet_name = "BASE")
df

# Cargamos el Excel donde iran las respuestas
##pregunta1 = pd.read_excel("pregunta1.xlsx")

,CODIGO_ZONA,CODIGO_DE_COMPRADOR,CANTIDAD_PEDIDA,CANTIDAD_DESPACHADA,CODIGO_DEL_PRODUCTO
0,807,633115,2,2,283760
1,807,633115,3,2,283760
2,810,309373,2,2,283760
3,810,309373,3,3,296648
4,810,309373,2,2,306259
...,...,...,...,...,...
169300,619,113156,2,2,283760
169301,619,113156,2,2,283760
169302,619,113156,2,1,592959
169303,619,113156,4,3,707645
169304,619,401801,2,2,283760

#### Analisis general

In [21]:
## Declaracion de variables

id_zona = df['CODIGO_ZONA']
id_comprador = df['CODIGO_DE_COMPRADOR']
cantidad_pedida = df['CANTIDAD_PEDIDA']
cantidad_despachada = df['CANTIDAD_DESPACHADA']
id_producto = df['CODIGO_DEL_PRODUCTO']

In [22]:
## Informacion sobre las columnas

df.info() # los ids de los productos son de tipo objeto. Se procede a analizar los datos de la columna.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169305 entries, 0 to 169304
Data columns (total 5 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   CODIGO_ZONA          169305 non-null  int64
 1   CODIGO_DE_COMPRADOR  169305 non-null  int64
 2   CANTIDAD_PEDIDA      169305 non-null  int64
 3   CANTIDAD_DESPACHADA  169305 non-null  int64
 4   CODIGO_DEL_PRODUCTO  169305 non-null  object
dtypes: int64(4), object(1)
memory usage: 6.5+ MB

In [23]:
## Analisis estadistico 

df.describe()

,CODIGO_ZONA,CODIGO_DE_COMPRADOR,CANTIDAD_PEDIDA,CANTIDAD_DESPACHADA
count,169305.000000,169305.000000,169305.000000,169305.000000
mean,322.621511,333875.442592,2.999368,2.498284
std,172.744022,188629.636448,0.816227,0.958236
min,101.000000,37.000000,2.000000,1.000000
25%,157.000000,196568.000000,2.000000,2.000000
50%,311.000000,324571.000000,3.000000,2.000000
75%,407.000000,436874.000000,4.000000,3.000000
max,828.000000,999389.000000,4.000000,4.000000

In [24]:
## Valores de las distintas columnas

print(set(id_producto)) # (!) tiene caracteres entre los numeros
print(set(id_zona)) # ok
print(set(cantidad_pedida)) # ok
print(set(cantidad_despachada)) #ok

## Ver cuantas zonas y cuantos productos hay

print(len(set(id_zona))) #163 Zonas de reparto unicas
print(len(set(id_producto))) #801 Productos unicos

{495617, 903169, 438276, 858120, 667659, 854028, 319504, 516113, 827410, 22546, 446481, 669712, 415766, 88087, 847896, 36887, 'X73538', 458787, 303143, 217129, 536623, 118834, 907314, 741427, 174135, 569400, 751674, 'X45633', 540738, 366659, 227394, 145478, 960585, 723018, 737354, 696396, 825422, 546895, 706640, 522320, 'X19692', 669774, 317528, 845913, 346202, 98395, 102490, 82014, 464992, 698467, 698469, 55397, 368745, 632945, 639090, 22641, 974964, 241785, 598142, 397445, 237704, 792714, 69770, 200850, 581779, 624789, 938134, 766101, 112792, 41113, 'X51022', 213155, 929957, 997543, 813229, 110768, 702640, 989362, 34993, 196789, 133314, 'X747755', 964804, 729285, 901316, 280773, 891081, 526539, 143564, 643275, 'X22967', 893134, 581846, 368855, 784604, 383198, 940262, 616681, 698602, 26865, 88309, 41210, 260347, 999675, 848128, 282890, 538893, 176398, 217362, 610579, 557334, 74013, 784676, 934187, 514348, 254253, 207156, 'V94411', 'X66980', 403767, 184630, 100666, 39227, 764228, 94533, 22855, 889160, 82249, 430411, 999756, 962894, 82256, 692568, 356697, 725343, 184673, 305505, 418147, 899425, 936293, 563558, 268644, 217444, 317803, 399725, 758126, 645490, 'V67658', 88438, 'V11777', 641409, 57729, 'V56751', 784779, 233868, 160142, 430481, 'X45502', 651671, 379289, 274842, 108958, 983456, 350626, 838052, 39337, 508332, 108974, 96687, 430513, 727481, 186809, 250307, 270787, 680389, 700871, 235977, 172490, 68043, 446926, 829907, 733656, 739800, 956895, 510435, 332263, 477674, 512491, 893420, 295404, 774638, 674287, 496112, 680429, 279026, 45548, 150006, 371193, 78334, 76289, 385544, 39433, 526858, 635402, 53774, 469519, 940560, 432657, 41489, 47634, 315924, 633365, 848405, 274967, 244248, 201237, 168474, 844316, 383520, 287266, 686629, 549414, 277032, 496169, 127532, 909872, 530992, 617010, 281138, 928308, 928304, 195126, 481846, 41527, 'X646073', 12867, 'X61157', 901710, 250450, 959058, 950868, 'V59384', 838232, 641626, 318043, 469596, 'X94233', 156256, 176739, 961123, 615021, 926318, 66160, 674419, 455283, 875128, 602745, 129659, 746108, 461439, 'X737367', 258695, 135821, 256654, 127631, 88055, 10900, 551575, 410268, 'X67906', 936607, 'X47697', 262815, 117410, 418473, 475828, 856757, 31414, 219833, 168633, 830139, 324286, 178878, 266945, 780997, 979654, 221900, 62161, 234196, 115412, 352983, 125659, 289503, 492256, 'X15690', 449250, 262882, 406244, 510696, 379624, 785131, 54000, 'X91730', 133879, 66301, 942846, 254719, 453377, 621314, 166663, 322319, 84751, 697108, 901910, 254743, 543515, 946971, 187167, 299808, 201506, 373540, 459562, 230189, 426798, 'X44811', 994099, 686904, 62265, 584511, 848709, 76614, 906055, 92998, 928585, 459595, 41811, 906070, 'X99994', 750426, 'X46988', 519004, 621409, 631651, 56166, 136047, 'X21000', 957302, 50038, 807799, 148345, 799620, 'V34539', 435084, 33676, 695184, 'X22078', 45970, 709523, 588692, 158611, 256921, 33690, 916389, 764844, 506801, 633780, 383924, 'X84451', 873405, 940989, 545730, 766919, 68551, 861133, 201680, 21461, 816086, 121815, 646109, 'X43384', 979942, 91112, 74730, 60397, 48111, 363504, 66544, 390132, 992244, 566261, 635898, 590844, 'X58338', 74757, 209929, 410638, 265231, 58383, 627732, 418841, 562205, 478238, 713761, 545827, 205859, 'X76457', 885803, 164908, 461871, 629807, 'X65040', 869432, 851004, 707645, 685117, 592959, 490560, 773186, 595014, 44105, 80975, 982096, 724049, 971858, 306259, 316498, 138325, 44115, 719956, 705617, 793691, 'X21943', 490587, 726114, 627816, 382056, 283760, 50300, 304253, 382077, 844929, 887938, 947334, 504969, 736398, 672911, 378001, 160916, 410776, 128156, 68765, 869532, 'V39633', 857250, 830638, 650415, 466095, 218289, 54453, 52408, 568516, 890056, 308427, 'X95059', 353498, 898266, 363745, 572642, 298215, 558312, 455912, 44268, 322798, 425199, 'X76052', 330994, 89331, 60658, 754936, 523513, 'X68606', 539902, 132351, 759041, 509189, 'X10941', 847113, 564492, 627980, 830734, 759054, 832784, 138513, 498961, 'X10331', 185626, 865563, 95519, 826656, 861477, 847143, 99627, 56623, 679221, 677178, 159036, 347456, 972096, 294209, 929091, 689478, 515417, 355674, 830810, 11615, 116066, 365923, 60773, 99686, 828778, 130419, 685429, 408951, 212343, 'X57741', 529784, 48504, 691578, 181629, 509310, 849280, 882048, 593280, 'X77626', 796039, 87433, 986507, 40331, 73100, 'X87380', 501776, 69011, 261524, 'V91832', 42392, 437659, 288159, 398754, 800162, 398760, 'X10156', 304565, 46519, 871869, 'X51624', 650687, 808383, 'X92709', 402877, 85445, 656838, 937415, 48585, 644554, 730571, 413131, 'X62110', 409040, 202193, 929233, 966099, 845268, 'X66660', 820697, 617945, 636377, 95708, 294368, 144866, 101862, 603623, 314859, 357869, 882168, 669187, 923139, 861703, 331274, 19994, 255515, 448028, 19997, 439839, 312868, 355876, 468519, 30255, 941619, 927289, 747067, 515645, 173633, 443971, 87622, 'X83644', 128588, 99916, 962128, 829010, 147028, 77396, 632409, 226907, 276061, 796259, 495203, 177769, 'X56123', 652912, 'X97848', 777846, 28281, 908922, 198269, 228991, 878218, 294538, 'V29412', 'X49564', 399002, 767645, 530080, 997024, 476834, 42660, 306856, 75433, 827053, 714420, 902837, 118456, 933564, 'V08270', 140994, 929475, 870083, 188101, 601799, 296648, 497352, 286410, 286413, 407246, 347853, 638673, 249554, 747220, 880343, 'X33922', 272092, 55004, 276193, 188410, 298722, 990954, 886506, 538352, 'X219442', 335602, 870131, 'X86719', 399094, 800507, 292606, 939775, 395009, 208642, 67331, 12036, 560901, 614150, 42758, 'X11623', 157450, 55051, 48907, 147213, 'X81796', 173843, 823068, 755485, 460575, 77604, 157477, 75557, 67366, 562986, 509739, 542511, 278320, 188208, 362290, 91955, 12086, 802618, 726845, 968509, 794432, 218951, 923465, 'X70151', 454476, 870223, 264015, 180049, 511828, 190292, 'X40572', 184151, 372567, 909146, 'X82342', 38746, 'V99614', 38759, 214887, 792423, 839530, 874350, 620398, 733041, 659313, 22387, 190322, 874358, 374647, 665464, 196473, 235384, 'X10667', 266111, 272266, 87947, 413583, 227217, 810898, 499603, 489365, 561045, 192411, 61339, 479131, 937886, 784287, 'X63464', 16288, 'X34093', 847780, 602020, 294823, 120745, 849833, 36777, 87977, 51118, 591793, 786354, 585655, 518076, 296895, 604097, 288707, 559045, 819143, 176074, 247756, 55244, 34770, 544727, 81881, 733147, 'X76260', 780254, 540640, 860129, 'X85001', 225251, 'X35003', 235496, 237548, 266221, 563182, 815087, 602095, 841714, 458741, 909301, 260087, 763897, 823290, 264190}
{513, 518, 519, 522, 523, 525, 530, 580, 584, 586, 591, 593, 594, 601, 603, 605, 606, 608, 609, 610, 611, 612, 101, 102, 103, 104, 614, 616, 107, 617, 109, 110, 111, 112, 619, 115, 116, 119, 121, 122, 123, 124, 125, 127, 128, 130, 131, 132, 133, 134, 135, 652, 141, 142, 655, 656, 658, 146, 148, 150, 663, 664, 151, 153, 155, 156, 157, 158, 160, 673, 162, 163, 676, 176, 181, 182, 183, 194, 195, 201, 202, 204, 205, 250, 252, 261, 264, 265, 267, 268, 270, 272, 274, 280, 287, 289, 290, 292, 807, 810, 300, 813, 814, 302, 303, 304, 306, 307, 309, 310, 823, 824, 825, 826, 827, 828, 311, 312, 314, 320, 315, 316, 323, 317, 325, 318, 319, 324, 326, 327, 328, 329, 331, 334, 335, 333, 338, 342, 343, 344, 345, 346, 349, 352, 353, 354, 355, 356, 361, 362, 380, 400, 402, 403, 405, 407, 411, 412, 413, 501, 505, 506, 509}
{2, 3, 4}
{1, 2, 3, 4}
163
801

#### Eliminar caracteres y convertir los ids de producto en enteros

In [25]:
id_producto.replace({'X':'','V':''}, regex=True, inplace=True)

In [26]:
set(id_producto)

{'08270',
 100666,
 '10156',
 101862,
 102490,
 '10331',
 '10667',
 108958,
 108974,
 10900,
 '10941',
 110768,
 112792,
 115412,
 116066,
 11615,
 '11623',
 117410,
 '11777',
 118456,
 118834,
 12036,
 120745,
 12086,
 121815,
 125659,
 127532,
 127631,
 128156,
 128588,
 12867,
 129659,
 130419,
 132351,
 133314,
 133879,
 135821,
 136047,
 138325,
 138513,
 140994,
 143564,
 144866,
 145478,
 147028,
 147213,
 148345,
 150006,
 156256,
 '15690',
 157450,
 157477,
 158611,
 159036,
 160142,
 160916,
 16288,
 164908,
 166663,
 168474,
 168633,
 172490,
 173633,
 173843,
 174135,
 176074,
 176398,
 176739,
 177769,
 178878,
 180049,
 181629,
 184151,
 184630,
 184673,
 185626,
 186809,
 187167,
 188101,
 188208,
 188410,
 190292,
 190322,
 192411,
 195126,
 196473,
 196789,
 '19692',
 198269,
 19994,
 19997,
 200850,
 201237,
 201506,
 201680,
 202193,
 205859,
 207156,
 208642,
 209929,
 '21000',
 212343,
 213155,
 21461,
 214887,
 217129,
 217362,
 217444,
 218289,
 218951,
 '21943',
 '219442',
 219833,
 '22078',
 221900,
 22387,
 225251,
 22546,
 22641,
 226907,
 227217,
 227394,
 22855,
 228991,
 '22967',
 230189,
 233868,
 234196,
 235384,
 235496,
 235977,
 237548,
 237704,
 241785,
 244248,
 247756,
 249554,
 250307,
 250450,
 254253,
 254719,
 254743,
 255515,
 256654,
 256921,
 258695,
 260087,
 260347,
 261524,
 262815,
 262882,
 264015,
 264190,
 265231,
 266111,
 266221,
 266945,
 268644,
 26865,
 270787,
 272092,
 272266,
 274842,
 274967,
 276061,
 276193,
 277032,
 278320,
 279026,
 280773,
 281138,
 28281,
 282890,
 283760,
 286410,
 286413,
 287266,
 288159,
 288707,
 289503,
 292606,
 '29412',
 294209,
 294368,
 294538,
 294823,
 295404,
 296648,
 296895,
 298215,
 298722,
 299808,
 30255,
 303143,
 304253,
 304565,
 305505,
 306259,
 306856,
 308427,
 312868,
 31414,
 314859,
 315924,
 316498,
 317528,
 317803,
 318043,
 319504,
 322319,
 322798,
 324286,
 330994,
 331274,
 332263,
 335602,
 33676,
 33690,
 '33922',
 '34093',
 '34539',
 346202,
 347456,
 34770,
 347853,
 34993,
 '35003',
 350626,
 352983,
 353498,
 355674,
 355876,
 356697,
 357869,
 362290,
 363504,
 363745,
 365923,
 366659,
 36777,
 368745,
 368855,
 36887,
 371193,
 372567,
 373540,
 374647,
 378001,
 379289,
 379624,
 382056,
 382077,
 383198,
 383520,
 383924,
 385544,
 38746,
 38759,
 390132,
 39227,
 39337,
 39433,
 395009,
 '39633',
 397445,
 398754,
 398760,
 399002,
 399094,
 399725,
 402877,
 40331,
 403767,
 '40572',
 406244,
 407246,
 408951,
 409040,
 410268,
 410638,
 410776,
 41113,
 41210,
 413131,
 413583,
 41489,
 41527,
 415766,
 41811,
 418147,
 418473,
 418841,
 42392,
 425199,
 42660,
 426798,
 42758,
 430411,
 430481,
 430513,
 432657,
 '43384',
 435084,
 437659,
 438276,
 439839,
 44105,
 44115,
 44268,
 443971,
 446481,
 446926,
 448028,
 '44811',
 449250,
 453377,
 454476,
 '45502',
 455283,
 45548,
 455912,
 '45633',
 458741,
 458787,
 459562,
 459595,
 45970,
 460575,
 461439,
 461871,
 464992,
 46519,
 466095,
 468519,
 469519,
 469596,
 '46988',
 475828,
 47634,
 476834,
 '47697',
 477674,
 478238,
 479131,
 48111,
 481846,
 48504,
 48585,
 48907,
 489365,
 490560,
 490587,
 492256,
 495203,
 495617,
 '49564',
 496112,
 496169,
 497352,
 498961,
 499603,
 50038,
 501776,
 50300,
 504969,
 506801,
 508332,
 509189,
 509310,
 509739,
 '51022',
 510435,
 510696,
 51118,
 511828,
 512491,
 514348,
 515417,
 515645,
 516113,
 '51624',
 518076,
 519004,
 522320,
 523513,
 52408,
 526539,
 526858,
 529784,
 530080,
 530992,
 536623,
 53774,
 538352,
 538893,
 539902,
 54000,
 540640,
 540738,
 542511,
 543515,
 54453,
 544727,
 545730,
 545827,
 546895,
 549414,
 55004,
 55051,
 551575,
 55244,
 55397,
 557334,
 558312,
 559045,
 560901,
 561045,
 '56123',
 56166,
 562205,
 562986,
 563182,
 563558,
 564492,
 56623,
 566261,
 '56751',
 568516,
 569400,
 572642,
 57729,
 '57741',
 581779,
 581846,
 '58338',
 58383,
 584511,
 585655,
 588692,
 590844,
 591793,
 592959,
 593280,
 '59384',
 595014,
 598142,
 601799,
 602020,
 602095,
 602745,
 603623,
 60397,
 604097,
 60658,
 60773,
 610579,
 '61157',
 61339,
 614150,
 615021,
 616681,
 617010,
 617945,
 620398,
 '62110',
 621314,
 621409,
 62161,
 62265,
 624789,
 627732,
 627816,
 627980,
 629807,
 631651,
 632409,
 632945,
 633365,
 633780,
 '63464',
 635402,
 635898,
 636377,
 638673,
 639090,
 641409,
 641626,
 643275,
 644554,
 645490,
 '646073',
 646109,
 '65040',
 650415,
 650687,
 651671,
 652912,
 656838,
 659313,
 66160,
 66301,
 66544,
 665464,
 '66660',
 667659,
 669187,
 669712,
 669774,
 '66980',
 672911,
 67331,
 67366,
 674287,
 674419,
 '67658',
 677178,
 '67906',
 679221,
 680389,
 680429,
 68043,
 685117,
 685429,
 68551,
 '68606',
 686629,
 686904,
 68765,
 689478,
 69011,
 691578,
 692568,
 695184,
 696396,
 697108,
 69770,
 698467,
 698469,
 698602,
 700871,
 '70151',
 702640,
 705617,
 706640,
 707645,
 709523,
 713761,
 714420,
 719956,
 723018,
 724049,
 725343,
 726114,
 726845,
 727481,
 729285,
 730571,
 73100,
 733041,
 733147,
 733656,
 '73538',
 736398,
 737354,
 '737367',
 739800,
 74013,
 741427,
 746108,
 747067,
 747220,
 74730,
 74757,
 '747755',
 750426,
 751674,
 75433,
 754936,
 755485,
 75557,
 758126,
 759041,
 759054,
 '76052',
 '76260',
 76289,
 763897,
 764228,
 '76457',
 764844,
 766101,
 76614,
 766919,
 767645,
 773186,
 77396,
 774638,
 77604,
 '77626',
 777846,
 780254,
 780997,
 78334,
 784287,
 784604,
 784676,
 784779,
 785131,
 786354,
 792423,
 792714,
 793691,
 794432,
 796039,
 796259,
 799620,
 800162,
 800507,
 802618,
 807799,
 808383,
 80975,
 810898,
 813229,
 815087,
 816086,
 '81796',
 81881,
 819143,
 82014,
 820697,
 82249,
 82256,
 823068,
 823290,
 '82342',
 825422,
 826656,
 827053,
 827410,
 828778,
 829010,
 829907,
 830139,
 830638,
 830734,
 830810,
 832784,
 '83644',
 838052,
 838232,
 839530,
 841714,
 844316,
 '84451',
 844929,
 845268,
 845913,
 847113,
 847143,
 84751,
 847780,
 847896,
 848128,
 848405,
 848709,
 849280,
 849833,
 '85001',
 851004,
 854028,
 85445,
 856757,
 857250,
 858120,
 860129,
 861133,
 861477,
 861703,
 865563,
 '86719',
 869432,
 869532,
 870083,
 870131,
 870223,
 871869,
 873405,
 '87380',
 87433,
 874350,
 874358,
 875128,
 87622,
 878218,
 87947,
 87977,
 880343,
 88055,
 88087,
 882048,
 882168,
 88309,
 88438,
 885803,
 886506,
 887938,
 889160,
 890056,
 891081,
 893134,
 89331,
 893420,
 898266,
 899425,
 901316,
 901710,
 901910,
 902837,
 903169,
 906055,
 906070,
 907314,
 908922,
 909146,
 909301,
 909872,
 91112,
 916389,
 '91730',
 '91832',
 91955,
 923139,
 923465,
 926318,
 '92709',
 927289,
 928304,
 928308,
 928585,
 929091,
 929233,
 929475,
 929957,
 92998,
 933564,
 934187,
 936293,
 936607,
 937415,
 937886,
 938134,
 939775,
 940262,
 940560,
 940989,
 941619,
 '94233',
 942846,
 '94411',
 94533,
 946971,
 947334,
 '95059',
 950868,
 95519,
 956895,
 95708,
 957302,
 959058,
 960585,
 961123,
 962128,
 962894,
 964804,
 966099,
 96687,
 968509,
 971858,
 972096,
 974964,
 '97848',
 979654,
 979942,
 982096,
 983456,
 98395,
 986507,
 989362,
 990954,
 992244,
 994099,
 '99614',
 99627,
 99686,
 997024,
 997543,
 99916,
 999675,
 999756,
 '99994'}

In [27]:
df = df.astype({"CODIGO_DEL_PRODUCTO" : int})

In [28]:
df.dtypes

CODIGO_ZONA            int64
CODIGO_DE_COMPRADOR    int64
CANTIDAD_PEDIDA        int64
CANTIDAD_DESPACHADA    int64
CODIGO_DEL_PRODUCTO    int64
dtype: object

#### Preparar los datos

In [29]:
ventas_por_producto_y_zona = pd.DataFrame(df.groupby(['CODIGO_DEL_PRODUCTO', 'CODIGO_ZONA'])['CANTIDAD_PEDIDA'].sum().sort_values(ascending = False))
ventas_por_producto_y_zona

                                 CANTIDAD_PEDIDA
CODIGO_DEL_PRODUCTO CODIGO_ZONA
469519              612                     2324
283760              331                     1976
469519              150                     1872
                    272                     1781
283760              343                     1719
...                                          ...
860129              619                        2
751674              606                        2
288159              116                        2
558312              334                        2
317803              513                        2

[48534 rows x 1 columns]

In [30]:
despachos_por_producto_y_zona = pd.DataFrame(df.groupby(['CODIGO_DEL_PRODUCTO', 'CODIGO_ZONA'])['CANTIDAD_DESPACHADA'].sum().sort_values(ascending = False))
despachos_por_producto_y_zona.sort_values('CODIGO_ZONA')

                                 CANTIDAD_DESPACHADA
CODIGO_DEL_PRODUCTO CODIGO_ZONA
584511              101                            5
147213              101                            6
829010              101                            2
39633               101                            6
299808              101                           22
...                                              ...
861703              828                            1
504969              828                            3
234196              828                            2
217129              828                            1
878218              828                            3

[48534 rows x 1 columns]

In [31]:
compradores_por_zona = pd.DataFrame(df.groupby(['CODIGO_ZONA'])['CODIGO_DE_COMPRADOR'].nunique())
compradores_por_zona

             CODIGO_DE_COMPRADOR
CODIGO_ZONA
101                          472
102                          359
103                          590
104                          452
107                          400
...                          ...
824                            8
825                            1
826                            1
827                            1
828                            7

[163 rows x 1 columns]

In [32]:
compradores_por_zona.rename({'CODIGO_DE_COMPRADOR': 'NUM_COMPRADORES'},axis=1,inplace=True)
compradores_por_zona

             NUM_COMPRADORES
CODIGO_ZONA
101                      472
102                      359
103                      590
104                      452
107                      400
...                      ...
824                        8
825                        1
826                        1
827                        1
828                        7

[163 rows x 1 columns]

In [33]:
compradores_por_zona.to_excel('p1-num_compradores.xlsx')

In [34]:
ventas_por_producto_y_zona["CANTIDAD_DESPACHADA"] = despachos_por_producto_y_zona["CANTIDAD_DESPACHADA"]
ventas_por_producto_y_zona.sort_values('CODIGO_DEL_PRODUCTO')
ventas_por_producto_y_zona = df

In [35]:
df["Variacion pedido-despacho"] = (df["CANTIDAD_DESPACHADA"] - df["CANTIDAD_PEDIDA"])/(df["CANTIDAD_PEDIDA"])*100
df

,CODIGO_ZONA,CODIGO_DE_COMPRADOR,CANTIDAD_PEDIDA,CANTIDAD_DESPACHADA,CODIGO_DEL_PRODUCTO,Variacion pedido-despacho
0,807,633115,2,2,283760,0.000000
1,807,633115,3,2,283760,-33.333333
2,810,309373,2,2,283760,0.000000
3,810,309373,3,3,296648,0.000000
4,810,309373,2,2,306259,0.000000
...,...,...,...,...,...,...
169300,619,113156,2,2,283760,0.000000
169301,619,113156,2,2,283760,0.000000
169302,619,113156,2,1,592959,-50.000000
169303,619,113156,4,3,707645,-25.000000
169304,619,401801,2,2,283760,0.000000

In [36]:
df.to_excel('p1-pedidos-despachos.xlsx')