#**Lab 3: Data Wrangling**

## **Adquirir datos**

In [1]:
#Importar la librería
import pandas as pd

In [2]:
# UnicodeDecodeError: 'utf-8'
data = pd.read_csv("Olimpiadas.csv",encoding='cp1252')

In [3]:
data

            ID  ... Medalla
0            1  ...     NaN
1            2  ...     NaN
2            3  ...     NaN
3            4  ...    Gold
4            5  ...     NaN
...        ...  ...     ...
271111  135569  ...     NaN
271112  135570  ...     NaN
271113  135570  ...     NaN
271114  135571  ...     NaN
271115  135571  ...     NaN

[271116 rows x 14 columns]

## **A. Limpiar los datos**

### 1. Eliminar los datos nulos

In [19]:
#Chequear que columnas tienes datos nulos
data.isna().any()

ID                False
NombresAtletas    False
Genero            False
Edad              False
Altura            False
Peso              False
Equipo            False
SiglaEquipo       False
Anho              False
Temporada         False
Ciudad            False
Deporte           False
Evento            False
Medalla            True
dtype: bool

In [20]:
#Encontrar el total de valores nulos por columnas 
data.isnull().sum()

ID                     0
NombresAtletas         0
Genero                 0
Edad                   0
Altura                 0
Peso                   0
Equipo                 0
SiglaEquipo            0
Anho                   0
Temporada              0
Ciudad                 0
Deporte                0
Evento                 0
Medalla           175984
dtype: int64

In [21]:
#Borrar filas en base a sus valores nulos de algunas columnas
data = data.dropna(subset=['Edad', 'Altura','Peso'])
data

            ID  ... Medalla
0            1  ...     NaN
1            2  ...     NaN
4            5  ...     NaN
5            5  ...     NaN
6            5  ...     NaN
...        ...  ...     ...
271111  135569  ...     NaN
271112  135570  ...     NaN
271113  135570  ...     NaN
271114  135571  ...     NaN
271115  135571  ...     NaN

[206165 rows x 14 columns]

In [23]:
data.isnull().sum()

ID                     0
NombresAtletas         0
Genero                 0
Edad                   0
Altura                 0
Peso                   0
Equipo                 0
SiglaEquipo            0
Anho                   0
Temporada              0
Ciudad                 0
Deporte                0
Evento                 0
Medalla           175984
dtype: int64

### 2. Estandarizar tipos de datos

In [24]:
#Verificar los tipos de datos de las columnas 
data.dtypes

ID                  int64
NombresAtletas     object
Genero             object
Edad                int64
Altura            float64
Peso              float64
Equipo             object
SiglaEquipo        object
Anho                int64
Temporada          object
Ciudad             object
Deporte            object
Evento             object
Medalla            object
dtype: object

In [25]:
# convertir tipo de datos de la column "Edad" to int64 dtype
data = data.astype({"Edad": int})
data

            ID  ... Medalla
0            1  ...     NaN
1            2  ...     NaN
4            5  ...     NaN
5            5  ...     NaN
6            5  ...     NaN
...        ...  ...     ...
271111  135569  ...     NaN
271112  135570  ...     NaN
271113  135570  ...     NaN
271114  135571  ...     NaN
271115  135571  ...     NaN

[206165 rows x 14 columns]

In [26]:
data.dtypes

ID                  int64
NombresAtletas     object
Genero             object
Edad                int64
Altura            float64
Peso              float64
Equipo             object
SiglaEquipo        object
Anho                int64
Temporada          object
Ciudad             object
Deporte            object
Evento             object
Medalla            object
dtype: object

### 3.  Cambiar el nombre de columnas

In [39]:
#Obtener el nombre de las columnas
data.columns

Index(['ID', 'NombresAtletas', 'Genero', 'Edad', 'Altura', 'Peso', 'Equipo',
       'SiglaEquipo', 'Anho ', 'Temporada', 'Ciudad', 'Deporte', 'Evento',
       'Medalla'],
      dtype='object')

In [40]:
#Renombrar el nombre de las columnas
data.rename({'Anho ': 'Año'}, axis=1, inplace=True)
data.columns

Index(['ID', 'NombresAtletas', 'Genero', 'Edad', 'Altura', 'Peso', 'Equipo',
       'SiglaEquipo', 'Año', 'Temporada', 'Ciudad', 'Deporte', 'Evento',
       'Medalla'],
      dtype='object')

## **B. Estructura de Datos**

### 1. Unir dos columnas

In [42]:
# Unir dos columnas sin delimitador 
data["Ciudad"] + data["Año"].astype(str)

0              Barcelona1992
1                 London2012
4                Calgary1988
5                Calgary1988
6            Albertville1992
                 ...
271111         Innsbruck1976
271112             Sochi2014
271113             Sochi2014
271114            Nagano1998
271115    Salt Lake City2002
Length: 206165, dtype: object

In [44]:
# Unir dos columnas con delimitador 
data['Ciudad'].str.cat(data['Año'].astype(str),sep=" ")

0              Barcelona 1992
1                 London 2012
4                Calgary 1988
5                Calgary 1988
6            Albertville 1992
                 ...
271111         Innsbruck 1976
271112             Sochi 2014
271113             Sochi 2014
271114            Nagano 1998
271115    Salt Lake City 2002
Name: Ciudad, Length: 206165, dtype: object

In [45]:
data["NombreOlimpiada"] = data['Ciudad'].str.cat(data['Año'].astype(str),sep=" ")

In [ ]:
data

### 2. Cambiar valores

In [48]:
set(data["Temporada"])

{'Invierno', 'Verano'}

In [ ]:
data["Temporada"].replace({"Summer": "Verano", "Winter": "Invierno"}, inplace=True)
data

In [49]:
set(data["Medalla"])

{'Bronze', 'Gold', 'Silver', nan}

In [51]:
data["Medalla"].replace({"Gold": "Oro", "Silver": "Plata", "Bronze": "Bronce"}, inplace=True)
data.head()

   ID            NombresAtletas  ... Medalla   NombreOlimpiada
0   1                 A Dijiang  ...     NaN    Barcelona 1992
1   2                  A Lamusi  ...     NaN       London 2012
4   5  Christine Jacoba Aaftink  ...     NaN      Calgary 1988
5   5  Christine Jacoba Aaftink  ...     NaN      Calgary 1988
6   5  Christine Jacoba Aaftink  ...     NaN  Albertville 1992

[5 rows x 15 columns]

## **C. Enriquecimiento de Datos**

### 1. Crear una nueva columna en base a condición

In [ ]:
set(data["Edad"])

In [53]:
data["Edad"].min()

11

In [54]:
data["Edad"].max()

71

In [56]:
def condiciones(data):
  if (data["Edad"] > 11) and (data["Edad"]<=18):
    return "Adolescente"
  elif (data["Edad"]> 18) and (data["Edad"]<=40):
    return "Adulto joven"
  elif (data["Edad"]> 40) and (data["Edad"]<=65):
    return "Adulto"
  else:
    return "Adulto mayor"

In [57]:
data['GrupoEdad'] = data.apply(condiciones, axis=1)

In [ ]:
data.head()

### 2. Agrupar datos

In [61]:
grupo = data.groupby('Año')
grupo

In [63]:
print(grupo.get_group(2010))

            ID             NombresAtletas  ... NombreOlimpiada     GrupoEdad
245        121             Muhammad Abbas  ...  Vancouver 2010  Adulto joven
276        145              Jeremy Abbott  ...  Vancouver 2010  Adulto joven
784        452   Enver Nazymovych Ablaiev  ...  Vancouver 2010  Adulto joven
940        532         Iason Abramashvili  ...  Vancouver 2010  Adulto joven
941        532         Iason Abramashvili  ...  Vancouver 2010  Adulto joven
...        ...                        ...  ...             ...           ...
270952  135492  Veronika Zuzulov (-Velez)  ...  Vancouver 2010  Adulto joven
270953  135492  Veronika Zuzulov (-Velez)  ...  Vancouver 2010  Adulto joven
270958  135496            Veronika Zvaiov  ...  Vancouver 2010  Adulto joven
270964  135500         Kristaps Zvejnieks  ...  Vancouver 2010   Adolescente
270965  135500         Kristaps Zvejnieks  ...  Vancouver 2010   Adolescente

[4378 rows x 16 columns]

## *Guardar el nuevo dataframe en nuestro Drive*

In [65]:
from google.colab import drive
drive.mount('drive')

Mounted at drive

In [66]:
#Guardar sin index
data.to_csv('Olimpiadas_Clean.csv', index=False)

In [67]:
!cp Olimpiadas_Clean.csv "drive/My Drive/"